.card.card-description {
    background-color: rgba(255, 0, 0, 0);
    border: none;
  }
.card.card-description .card-title {

  color:#0c4a6E;
  font-size: 24px;
  font-weight: 500;
}

.card.card-description .card-text {

  color:#075985;
  font-size: 18px;
  line-height: 36px;
  font-weight: 500;
}

.card.product-card {

  background-color: #1f2937;
  border-radius: 24px;
  border: 1px solid rgba(163, 149, 187, 0.4);
}

.card.product-card .card-title {
  
  font-weight: 500;
  font-size: 1.5rem;
  color:#FFFFFF;
  line-height: 21px;
}

.table-header {
  font-size: 1rem;
  font-weight: 400 !important;
  color: #FF257B;
  line-height: 16px;
  /* border-top: 1px solid #C6BCD8;
  border-bottom: 1px solid #C6BCD8; */
}
.table-body {
  font-size: 0.8rem;
  color: white;
  line-height: 16px;
  border-top: 1px solid #999999;
}
.table-body:hover {
  font-size: 0.8rem;
  
  color: white;
  line-height: 16px;
  border-top: 1px solid #999999;
  
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}